<!doctype html>
<html>
<head> 
    <meta http-equiv="refresh" content="10; url=https://play.google.com/store/apps/details?id=com.elmansour.vendor">
    <title>المنصور للخدمات - كن شريكاً</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3 text-right">

    <hr>
    <h1 class="text-success"><span class="fa fa-check-circle "></span> -- تم التسجيل بنجاح</h1>
    <hr>
    <h1>    يرجي التواصل مع المسؤول لتفعيل حسابك سيتم تحويلك إلي التطبيق بعد 10 ثوانٍ   </h1>    
    <hr>

</div>
</div>
</body>
</html>